* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
header {
  background-color: aquamarine;
  border-bottom: 2px solid orange;
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}
.left {
  font-size: 1.7rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
}
.left span {
  color: orange;
}
.right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
.right a {
  text-decoration: none;
  color: orange;
  font-weight: 600;
  font-size: 1.1rem;
}
.right a:hover {
  color: yellow;
}
.back {
  display: flex;
  flex-direction: column;
  background-image: url(./img/showcase.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
  align-items: center;

  height: 49.5vh;
  color: white;
  font-size: 1.1rem;
}
.back h1 {
  font-size: 3rem;
  padding: 1rem;
}
.mail {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background-color: aquamarine;
}
.mail .sub {
  font-size: 1.2rem;
  font-weight: 700;
}
.mail .btn {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}
.mail .btn input {
  padding: 0.5rem;
  border: none;
  border-radius: 0.3rem;
}
.mail .btn button {
  padding: 0.5rem 1rem;
  background-color: coral;
  border: none;
  color: white;
  border-radius: 0.3rem;
}
.mail .btn button:hover {
  color: coral;
  background-color: yellow;
}
.art {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
  font-size: 1.1rem;
  background-color: lightgoldenrodyellow;
}
.html {
  flex: 1;
  padding: 2rem;
}
.css {
  flex: 1;
  padding: 2rem;
}
.graphic {
  flex: 1;
  padding: 2rem;
}
h3 {
  padding: 1rem;
  font-size: 1.3rem;
}
footer {
  display: flex;
  background-color: aquamarine;
  padding: 1.8rem;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: 500;
  margin-top: auto;
}

/* **** ABOUT ****/

.about {
  display: flex;
  padding: 2rem;
  gap: 5rem;
  font-size: 1.2rem;
}
.about p,
h4 {
  padding: 0.8rem;
}
.par2 {
  margin-left: 0.8rem;
  background-color: aquamarine;
  color: orangered;
}
.what {
  background-color: aquamarine;
  color: orangered;
}
.what h4 {
  padding-top: 2rem;
}

/****** SERVİCES****/

.service {
  display: flex;
  justify-content: space-between;
  gap: 12rem;
  padding: 2rem;
  background-color: lightgoldenrodyellow;
  height: 78vh;
}
.ser article {
  background-color: rgb(235, 235, 173);
  /* display: flex; */

  padding: 2rem 1rem;
  margin-bottom: 2rem;
}
.service .get {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 2rem;
  height: 40vh;
}
.service .get h4 {
  margin-top: -1rem;
}
.service .get label {
  margin-bottom: 0.5rem;
}
.service .get input {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.service .get textarea {
  margin-bottom: 0.5rem;
  padding: 0.5rem;
}
.service .get button {
  width: 5rem;
  padding: 0.5rem;
  border: none;
  color: white;
  border-radius: 5px;
  background-color: orangered;
}
.service .get button:hover {
  color: orangered;
  background-color: white;
}
